{% extends "recipes/base.html" %}
{% load static %}

{% block title %}Create Recipe{% endblock %}

{% block content %}
<h1>Create Recipe</h1>

<form method="POST">
    {% csrf_token %}
    {{ form }}

    <hr>
    <h2>Steps</h2>
    <button id="remove-step" type="button">-</button>
    <button id="add-step" type="button">+</button>
    {{ form_steps.management_form }}
    {{ form_stepingredients.management_form }}

    <ol id="step-list">
      {% for step in form_steps %}
        <li data-step-index="{{ forloop.counter0 }}">
          {{ step.instruction }}
          <button class="remove-ingredient" type="button">-</button>
          <button class="add-ingredient" type="button">+</button>
          <ul class="ingredient-list">
            {% for stepingr in form_stepingredients %}
            <li>
              <input
                type="hidden"
                name="stepingr-{{ forloop.counter0 }}-step_index"
                value="{{ forloop.parentloop.counter0 }}"
              >
              {{ stepingr.ingredient }}
              {{ stepingr.quantity }}
              {{ stepingr.unit }}
            </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ol>


    <input type="submit" value="Create Recipe">
</form>

<a href="{% url 'recipe_list' %}">Cancel</a>

<li id="step-template" style="display: none;">
  {{ form_steps.empty_form.instruction }}
  <button class="remove-ingredient" type="button">-</button>
  <button class="add-ingredient" type="button">+</button>
  <ul class="ingredient-list"></ul>
</li>

<li id="step-ingredient-template" style="display: none;">
  <input
    type="hidden"
    name="stepingr-__prefix__-step_index"
    value="__stepIndex__"
  >
  {{ form_stepingredients.empty_form.ingredient }}
  {{ form_stepingredients.empty_form.quantity }}
  {{ form_stepingredients.empty_form.unit }}
</li>

{% endblock %}

{% block scripts %}
<script src="{% static 'recipes/js/recipe_create.js' %}"></script>
{% endblock %}
