{% extends "recipes/base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
<h1 class="text-7xl mb-2">{{ recipe.name }}</h1>

<div id="tags">
    <span class="text-sm pl-2 text-recbksec">
        {% for tag in recipe.tags.all %}
        #{{tag.slug}}
        {% endfor %}
    </span>
</div>

<div id="directions">
    <h2 class="text-3xl mt-6 mb-2">Directions</h2>
    <ol class="list-decimal list-inside">
        {% for step in recipe.steps.all %}
        <li>
          {{ step.instruction }}
          {% if edit_mode %}
            <button
              class="btn-icon"
              >
              {% include "recipes/icons/edit.html" %}
            </button>
          {% endif %}
        </li>

        <ul class="list-disc list-inside ml-6">
            {% for item in step.ingredients.all %}
            <li>
                {{ item.ingredient.name }}

                {% if item.quantity %}
                &ndash;
                {{ item.quantity }}
                {% endif %}

                {% if item.quantity != 1 %}
                {% if item.unit.abbr_plural %}
                {{ item.unit.abbr_plural }}
                {% else %}
                {{ item.unit.name_plural }}
                {% endif %}
                {% else %}
                {% if item.unit.abbr_singular %}
                {{ item.unit.abbr_singular }}
                {% else %}
                {{ item.unit.name }}
                {% endif %}
                {% endif %}

                {% if edit_mode %}
                  <button
                    class="btn-icon"
                    >
                    {% include "recipes/icons/edit.html" %}
                  </button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ol>
</div>


<div id="ingredients">
    <h2 class="text-3xl mt-6 mb-2">Ingredients</h2>
        <ul class="list-disc list-inside">
            {% for item in ingredients %}
            <li>
                {{ item.ingredient__name }}

                {% if item.quantity %}
                &ndash;
                {{ item.quantity }}
                {% endif %}

                {% if item.quantity != 1 %}
                {% if item.unit__abbr_plural %}
                {{ item.unit__abbr_plural }}
                {% else %}
                {{ item.unit__name_plural }}
                {% endif %}
                {% else %}
                {% if item.unit__abbr_singular %}
                {{ item.unit__abbr_singular }}
                {% else %}
                {{ item.unit__name }}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
</div>


{% if recipe.complementary.exists %}
<div id="complementaryDishes">
    <h2 class="text-2xl mt-6 mb-2">Complementary Dishes</h2>
    <ul>
        {% for comp in recipe.complementary.all %}
        <li>
            <a href="{% url 'recipe_detail' comp.slug %}">{{ comp.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="flex flex-row items-center justify-left mt-6 space-x-4">
  {% if edit_mode %}
    <a href="{% url 'recipe_detail' recipe.slug %}" class="btn">Cancel</a>
    <form
      method="POST"
      action="{% url 'recipe_delete' recipe.id %}"
      onsubmit="return confirm('Are you sure you want to delete \'{{ recipe.name }}\'?');"
      >
      {% csrf_token %}
      <button type="submit" class="btn">Delete Recipe</button>
    </form>
  {% else %}
    <a href="{% url 'recipe_detail' recipe.slug %}{% querystring action='edit' %}" class="btn">Edit</a>
  {% endif %}
</div>

<hr class="hr">

<a href="{% url 'recipe_list' %}">Back to recipes</a>

{% endblock %}
