<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Recipe Book{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    </head>

    <body class="flex flex-col h-screen">

      <main class="grow">
        {% block main %}
          <div class="max-w-5xl mx-auto p-2">
            {% block content %}
            {% endblock %}
          </div>
        {% endblock %}
      </main>
    </body>
</html>
