{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Recipe Book{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'recipes/css/output.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'recipes/favicon.ico' %}" type="image/x-icon">

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="flex flex-col h-screen text-recbk font-questrial">
    <div class="flex min-h-screen">
      <aside class="hidden lg:block lg:w-1/3 h-screen sticky top-0 overflow-hidden relative">
        <img src="{% static 'recipes/svg/CurryLeafBorder.svg' %}"
             alt="Curry leaf image"
             class="h-screen block max-w-none absolute right-0 top-0">
      </aside>
      <main class="flex-1 overflow-auto p-8">
        {% block content %}
        {% endblock %}
      </main>
    </div>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
