{% extends "recipes/base.html" %}

{% block content %}
<h1>Ingredients</h1>

<div id="ingredient-create-container">
  {% include "recipes/ingredient/_create_button.html" %}
</div>

{% if not ingredients %}
<p class="text-gray-600 mt-4">No ingredients to show.</p>
{% endif %}

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="ingredient-table-body" hx-target="closest tr" hx-swap="outerHTML">
    {% for ingr in ingredients %}
    {% include "recipes/ingredient/_list_item.html" %}
    {% endfor %}
  </tbody>
</table>

<hr>

<a href="{% url 'index' %}">Go home</a>

{% endblock %}
