{% extends "recipes/base.html" %}

{% block content %}

<h1 class="text-3xl mt-6 mb-2">Ingredients</h1>

<a href="{% url 'ingredient_create' %}">Create Ingredient</a>

{% if ingredients %}
<ul>
    {% for ingr in ingredients %}
    <li>
        {{ ingr.name }}
        <a href="{% url 'ingredient_edit' ingr.id %}">Edit</a>
        <form action="{% url 'ingredient_delete' ingr.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No ingredients to show.</p>
{% endif %}

{% endblock %}
